PLINK='plink --noweb --dog --allow-no-sex --nonfounders'

broad='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Projects/darwins_ark_BI_collab/BroadInstitute_Ostrander_genomes/canid_wgs_ref.1.0.vcf.gz'
dbvdc='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/EVA_download_dogvcf/590_samples/dogs.590publicSamples.vcf.gz'
go_lab='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/lab.joint.raw_variants.SNPs.filtered.vcf.gz'
go_pug='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/pug.joint.raw_variants.SNPs.filtered.vcf.gz'

REF_PANELS="broad:dbvdc"
BAM_FILES='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/BAMs'
GENOME='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/genomes/CanFam3.1/e102/canfam3.fasta'

