# SLURM settings that may need changing
ACCOUNT='GODOGS-SL2-CPU'

PLINK='plink --noweb --dog --allow-no-sex --nonfounders'

# Settings for generatePanels_wrapper.sh
broad='/rfs/project/rfs-x31eBTdMHgM/Projects/darwins_ark_BI_collab/BroadInstitute_Ostrander_genomes/canid_wgs_ref.1.0.vcf.gz'
dbvdc='/rfs/project/rfs-x31eBTdMHgM/Data_downloads/EVA_download_dogvcf/590_samples/dogs.590publicSamples.vcf.gz'

# PROJECT to run and location of the main breed-specific VCF file
go_lab='/rfs/project/rfs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/joint_lab_raw_variants.snp.filtered.vcf.gz'
go_pug='/rfs/project/rfs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/pug.joint.raw_variants.SNPs.filtered.vcf.gz'

REF_PANELS="broad:dbvdc"

# Directory where BAM files for WGS located - matching VCF listed in go_lab/go_pug above
BAM_FILES='/rfs/project/rfs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/BAMs/LAB'

# Recombination maps - tried & tested best ones
MAPS='/rfs/project/rfs-x31eBTdMHgM/Data_downloads/genomes/CanFam3.1/Auton2013-Map/'
GENOME='/rfs/project/rfs-x31eBTdMHgM/Data_downloads/genomes/CanFam3.1/e102/canfam3.fasta'


# Settings for prepGwasData_wrapper.sh
#GWAS_DIR='/rfs/project/rfs-x31eBTdMHgM/ER_medschl/Labrador_Obesity_GWAS/2018_expanded-march1-18/PLINK_220118_0953/1618dogs'
#GWAS_PLINK='1618bestlabs'

GWAS_DIR='/rfs/project/rfs-x31eBTdMHgM/ER_medschl/Labrador_Obesity_GWAS/2018_expanded-march1-18/PLINK_220118_0953'
GWAS_PLINK='bestlabs'

# If GWAS dataset above has samples that aren't wanted, please provide a file of samples to work with
# If no file is given to SAMPLES then everything will be used
# FORMAT - one sample identifier per line
SAMPLES=''
