alias plinkdog='plink --noweb --dog --allow-no-sex --nonfounders'

## BROAD
#VCF='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Projects/darwins_ark_BI_collab/BroadInstitute_Ostrander_genomes/canid_wgs_ref.chr30.vcf.gz'
VCF='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Projects/darwins_ark_BI_collab/BroadInstitute_Ostrander_genomes/canid_wgs_ref.1.0.vcf.gz'

## DBVDC
#VCF='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/EVA_download_dogvcf/590_samples/dogs.590publicSamples.chr30.vcf.gz'
VCF='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/EVA_download_dogvcf/590_samples/dogs.590publicSamples.vcf.gz'

## GO-PUG
VCF='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/pug.joint.raw_variants.SNPs.filtered.vcf'

## GO-LAB
VCF='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/lab.joint.raw_variants.SNPs.filtered.vcf'

REF_PANELS="broad:dbvdc"

BAM_FILES='/home/es904/rfs/rfs-godogs-x31eBTdMHgM/Data_downloads/WGS_Dec17_pug_lab/BAMs'